<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      じゃんけん
    </title>
  </head>

  <body>
    <h1>
      じゃんけんゲーム
    </h1>

    <div>
      <a href="./game?hand=0"><button>グー</button></a>
      <a href="./game?hand=1"><button>チョキ</button></a>
      <a href="./game?hand=2"><button>パー</button></a>
    </div>

    <div>
      <p>自分の手：<span th:text="${userHand}"></span></p>
      <p>相手の手：<span th:text="${cpuHand}"></span></p>

      <p>
        <span th:text="${result}"></span>
      </p>
    </div>
  </body>
</html>
